main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wide{
  max-width: 85vw;
}

.sidebar {
  background-color: beige;
  font-size: xx-large;
}

.priceLabel {
  text-align: right;
  color: gray;
}

.price {
  text-align: right;
}

.productDetails {
  color: gray;
}

.deleteButton {
  margin-top: 20px;
}

.checkout {
  text-align: right;
}

.subtotal {
  font-size: 20px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 10px;
  min-height: 70vh;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}

.shippingDate{
  color:mediumblue;
}

.gray{
  color: gray;
}

.statusCard{
  padding: 10px;
}

/* caleb css code*/

/* login.ejs */
.custom-header {
  font-family: Impact, fantasy;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 72px;
}

.header-white {
  background-color: white;
  width: 100%;
  text-align: center;
}

.custom-header-black {
  color: white;
}

.header-black {
  background-color: black;
  width: 100%;
  text-align: center;
}

.section-container {
  background-image: url("images/studio.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* form stuff */
.centered-form-old {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white-label {
  color: white;
}

.white-background {
  background-color: white;
}

.login-button {
  margin-top: 10px;
}

.white-text {
  color: white;
}



.transparent-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
}

.login-button {
  background-color: #fff;
  color: #000;
}