<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ben_css.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
    <!-- Background image -->
    <div class="bg-image" style="
   background-image: url('images/lights.webp');
 ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <!-- headers -->
            <div class="d-flex justify-content-center align-items-center h-100">
                <h1 class="custom-header custom-header-black">- REEL RELICS -</h1>
            </div>
            <br>
            <div class="d-flex justify-content-center align-items-center h-100">
                <h1 class="custom-header-sm custom-header-black">reel in your <em>dream</em> collectibles</h1>
            </div>
            <!-- headers end-->

            <div class="container-fluid">
                <div class="row">
                    <!-- Left Navigation Column -->
                    <div class="col-2" style="position:relative">
                        <%- include("navbar") %>
                    </div>
                    <!-- Left Navigation Column -->
                    <div class="col-10">
                        <!-- Content -->
                        <main>
                            <h3>
                                Contact Us
                            </h3>
                            <div class="container-tp">
                                <form method="post" action="/contact/submit">
                                    <div class="form-input">
                                        <label for="fname" class="white-text">First Name</label>
                                        <input type="text" id="fname" name="firstname" placeholder="Your name.."
                                            required class="transparent-input">
                                    </div>

                                    <div class="form-input">
                                        <label for="lname" class="white-text">Last Name</label>
                                        <input type="text" id="lname" name="lastname" placeholder="Your last name.."
                                            required class="transparent-input">
                                    </div>

                                    <div class="form-input">
                                        <label for="country" class="white-text">Country</label>
                                        <select id="country" name="country" class="trans-country">
                                            <option value="australia">Australia</option>
                                            <option value="canada">Canada</option>
                                            <option value="usa">USA</option>
                                        </select>
                                    </div>

                                    <div class="form-input">
                                        <label for="subject" class="white-text">Subject</label>
                                        <textarea id="subject" name="subject" placeholder="Write something.."
                                            style="height:200px" required class="transparent-input"></textarea>
                                    </div>

                                    <div class="form-input">
                                        <input type="submit" value="Submit" class="btn btn-add-to-cart">
                                    </div>



                                </form>
                            </div>
                        </main>

                        <!-- End Content -->
                    </div>
                </div>
            </div>
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
        </div>
        <!-- Background image -->
    </div>

</body>

</html>