<% if (locals.msg) { %>
<% if (type=="success") { %>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= locals.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } else if (type=="danger") { %>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= locals.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% } %>