<img class="logo" src="images/reel_logo.png" alt="logo">
<div class="table-bordered">
    <div class="current-entry">
        <a href="/users/view_profile" class="table-entry">
            <% if (typeof user !== "undefined"){ %>
                Current User: <%= user.username %>
            <% } else { %>
                Current User
            <% } %>
        </a>
    </div>
    <hr>
    <div class="current-entry">
        <a href="/storefront" class="table-entry">
            Homepage
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/storefront" class="table-entry">
            Browse Items
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/users/view_profile" class="table-entry">
            Profile
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/" class="table-entry">
            Login
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/storefront/sell_item" class="table-entry">
            Upload New Items
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/checkout" class="table-entry">
            Checkout
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="/storefront/shoppingCart" class="table-entry">
            Shopping Cart
        </a>
    </div>
    <hr>
    <div class="table-entry">
        <a href="" class="table-entry">
            Contact Us
        </a>
    </div>
    <hr>
</div>