<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/ben_css.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Navigation Column --> 
        <div class="col-2" style="position:relative">
                
            <img class="logo" src="images/reel_logo.png" alt="">
                <div class="table-bordered">
                    <div class="current-entry">
                        <a href="view_profile.html" class="table-entry">
                        Current User: Caleb Valdez-Copeland
                    </a>
                    </div>
                    <hr>
                    <div class="current-entry">
                        <a href="http://127.0.0.1:5500/app/View/storefront.html" class="table-entry">
                        Homepage
                    </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="http://127.0.0.1:5500/app/View/storefront.html" class="table-entry">
                        Browse Items
                        </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="view_profile.html" class="table-entry">
                            Profile
                        </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="" class="table-entry">
                            Login
                            </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="http://127.0.0.1:5500/app/View/sell_item.html" class="table-entry">
                            Upload New Items
                            </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="http://127.0.0.1:5500/app/View/checkout.html" class="table-entry">
                            Checkout
                            </a>
                    </div>
                    <hr>
                    <div class="table-entry">
                        <a href="" class="table-entry">
                            Contact Us
                            </a>
                    </div>
                    <hr> 
          </div>
        </div>
        <!-- Left Navigation Column --> 
            <div class="col-10">

                <!-- Content -->
                <main class="wide">
                    <div class="row">

                        <!-- Image -->
                        <div class="col-6">
                            <img src="images/whip.jpg" class="product-pic" width="100%">
                        </div>

                        <!-- Description -->
                        <div class="col-4">
                            <h3> Indiana Jones Whip (Crystal Skull) </h3>
                            <p class="gray"> Posted at: February 21st, 2023 </p>
                            <p class="gray"> Posted by: Reed Havens </p>
                            <p> This is the authentic whip used by Harrison Ford in the filming of "Indiana Jones and the Crystal Skull" </p>
                            <ul>
                                <li> Cool </li>
                                <li> Facts </li>
                                <li> Here </li>
                            </ul>
                        </div>

                        <!-- Buy it -->
                        <div class="col container">
                            <h4> Price: $275</h4>
                            <button type="button" class="btn btn-primary deleteButton"> Buy now </button>
                            <button type="button" class="btn btn-warning deleteButton"> Add to cart </button>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    
        
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>