<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ben_css.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Navigation Column -->
            <div class="col-2" style="position:relative">
                <%- include("navbar") %>
            </div>
            <!-- Left Navigation Column -->
            <div class="col-10">

                <!-- Content -->
                <main>
                    <div class="row">

                        <!-- Estimated Delivery column -->
                        <div class="col container">
                            <h4> Estimated Delivery </h4>
                            <hr>
                            <h3 class="shippingDate"> Thursday, May 11</h3>
                            <hr>
                            <h6> Destination: </h6>
                            <p> Pullman, WA 99163 </p>
                            <hr>
                            <h6> Tracking number: </h6>
                            <a href=""> 1234567890 </a>
                        </div>

                        <!-- Shipment Activity column -->
                        <div class="col container">
                            <h4> Shipment Activity </h4>
                            <hr>
                            <h6> May 9 - 12:00 AM </h6>
                            <p> In Transit, Arriving On Time </p>
                            <hr>
                            <h6 class="gray"> May 8 - 4:03 PM </h6>
                            <p class="gray"> Departed Post Office Tucson, AZ </p>
                            <hr>
                            <h6 class="gray"> May 8 - 2:38 PM </h6>
                            <p class="gray"> USPS picked up item Tucson, AZ </p>
                            <hr>
                            <h6 class="gray"> May 7 - 11:46 AM </h6>
                            <p class="gray"> Shipping Label Created, USPS Awaiting Item Tucson, AZ </p>
                        </div>

                        <!-- Shipment Contents column -->
                        <div class="col container">
                            <h4> Shipment Contents </h4>
                            <hr>
                            <div class="row">
                                <% for (item of products) { %>
                                    <div class="col-4">
                                        <img src="images/whip.jpg" width="80px" height="80px" alt="Product image">
                                    </div>
                                    <div class="col-8">
                                        <h6> <%= item.name %> </h6>
                                        
                                    </div>
                                    <hr>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

</html>